<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Practice</h1>
        <p class="col-md-8 fs-4">
          練習功能：包含 mongoDB操作、Oauth2.0使用、本地登入、註冊、post文章。 
        </p>
        <a href="/auth/login"><button class="btn btn-primary btn-lg" type="button">
          開始
        </button>
        </a>
      </div>
    </div>
  </body>
</html>
